.hero{
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/festa-neon-tema-festa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container{
        position: relative;
    }

    
}